<h2 style="text-align:center;align-content: center;">Our Team</h2>
<div class="row">

    <div class="column">
        <div class="card">
            <img src="../../assets/sai.JPG" alt="Saiteja" style="width:30%">
            <div class="container">
                <h2>Sai Teja Malaga</h2>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/saideep.jpg" alt="SaiDeep" style="width:40%">
            <div class="container">
                <h2>Saideep Tanguturi</h2>
            </div>
        </div>
    </div>

</div>